* {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
}

/*Body*/

/*Header*/

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 50px;
}

.logoimg {
  width: 190px;
}

.logo {
  max-width: 500px;
  display: flex;
  align-items: center;
}

nav {
  display: flex;

  justify-content: flex-end;
  align-items: center;
  width: 25%;
  font-size: x-large;
  font-weight: 500;
  font-size: x-large;
}

.linkcontainer {
  margin-left: 50px;

  height: 100%;
  display: flex;
  align-items: center;
}

.navlink {
  text-decoration: none;
}

/*.navlink:visited {
  color: black;
}*/

/*.linkcontainer:hover {
  border-top: #0065fc solid;
}*/

.linkcontainer1 {
  border-top: #0065fc solid;
}

.link1 {
  color: #0065fc;
}

.link2 {
  color: black;
}

.link3 {
  font-weight: bold;
  color: #0065fc;
}

/*Main*/

main {
  padding: 0 50px;
}

main > * {
  margin: 50px 0;
}

.cardimg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Action*/

#action > * {
  margin-bottom: 15px;
}

.h1action {
  padding-bottom: 15px;
  font-size: xx-large;
}

.ph1 {
  padding-bottom: 15px;
  font-size: large;
}

.recherche {
  display: flex;
  align-items: center;
  padding-bottom: 15px;
}

.iconerecherche {
  border-top: solid #f2f2f2 2px;
  border-bottom: solid #f2f2f2 2px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-right: 0;
  border-left: 0;
  padding: 18px;
  background-color: #f2f2f2;
  height: 100%;
}

.fa-map-marker-alt {
  font-size: x-large;
}

.champrecherche {
  padding: 22px;
  border-top: solid #f2f2f2 2px;
  border-bottom: solid #f2f2f2 2px;
  border-right: 0;
  border-left: 0;
  width: 15%;
  font-weight: bolder;
}

::placeholder {
  color: black;
  font-size: 20px;
}

.recherchebouton {
  border-top: solid #0065fc 2px;
  border-bottom: solid #0065fc 2px;
  border-right: 0;
  border-left: 0;
  background-color: #0065fc;
  min-height: 100%;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 22px;
  color: white;
  font-weight: bold;
}

.filtres {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 30px;
  padding-bottom: 15px;
}

.filtres > * {
  margin-right: 30px;
}

.filtrelabel {
  display: flex;
  align-items: center;
  border: 2px solid #f2f2f2;
  border-left: none;
  border-radius: 80px;
  padding-right: 10px;
}

.filtrelabel > * {
  margin-right: 5px;
}

.iconefiltres {
  background-color: #deebff;
  border-radius: 50%;
  padding: 17px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.f {
  color: #0065fc;
}

.info {
  display: flex;
  align-items: center;
}

.nomfiltre {
}

.fa-info {
  color: #0065fc;
  font-size: small;
}

.infoicone {
  padding: 15px;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #f2f2f2;
  margin-right: 10px;
}

/*Hébergement+Populaires*/

.sectioncontainer {
  display: flex;
}

/*Hébergement*/

#hebergement {
  flex-grow: 2;
}

.titrehebergement {
  margin-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.row1hcard {
  display: flex;
  width: 100%;
}

.row2hcard {
  display: flex;
  width: 100%;
}

.hcard {
  margin: 20px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  padding: 5px;
  width: 33%;
  box-shadow: 5px 5px 30px #d9d9d9;
}

.himg {
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0px 0px;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.hinfoimg {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.hlink {
  display: contents;
}

.lienh {
  font-weight: bold;
  margin-left: 20px;
  margin-top: 30px;
}

/*Populaires*/

#populaires {
  margin-right: 0px;
}

.cardsection {
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 40px;
  margin-right: 50px;
}

.popcardcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.titrepop {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.fa-chart-line {
  margin-right: 20px;
}

.fa-star {
  color: #0065fc;
  padding-top: 15px;
}

.grey-star {
  color: rgb(207, 207, 207);
}

.infoimg {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.starcontainer {
  display: flex;
  margin-top: auto;
}

.popcard {
  display: flex;
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 5px 5px 30px #d9d9d9;
  margin-bottom: 40px;
}

.popimg {
  width: 175px;
  height: 175px;

  border-radius: 15px 0px 0px 15px;

  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.hlink:visited {
  color: black;
}

.hlink {
  text-decoration: none;
}

/*Activités*/

#activites {
}

#conteneuractivites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2";

  height: 550px;
}

.tg1 {
  grid-area: tg1;
  /*background-image: url("images/activites/3_medium/activitesvieuxport.jpg");*/
  max-width: 1fr;
}

.tg2 {
  grid-area: tg2;
  /*background-image: url("images/activites/3_medium/activitescalanques.jpg");*/
}

.p {
  grid-area: p;
  min-height: 120px;
  /*background-image: url("images/activites/4_small/activitesfrioul.jpg");*/
}

.g {
  grid-area: g;
  /* background-image: url("images/activites/4_small/activitespomegues.jpg");*/
}

.m1 {
  grid-area: m1;
  /*background-image: url("images/activites/4_small/activitesnotredame.jpg");*/
}

.m2 {
  grid-area: m2;
  /*background-image: url("images/activites/4_small/activiteslongchamp.jpg");*/
}

.intitule {
  background-color: white;
  font-weight: bold;
  padding: 20px;
  z-index: 2;
}

.card {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 5px 5px 30px #d9d9d9;

  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

.alink {
  text-decoration: none;
  display: contents;
  color: black;
}

/*Footer*/

footer {
}
.infos {
  width: 33%;
}

#conteneurfooter {
  display: flex;
  justify-content: stretch;
  background-color: #f2f2f2;
  padding: 20px 50px;
}

.footerlink {
  display: block;
  margin-bottom: 5px;
}

.footerlink:link {
  text-decoration: none;
  color: black;
}

.footerlink:visited {
  color: black;
}
