* {
  padding: 0;
  margin: 0;

  font-family: "Raleway", sans-serif;
}

/*Body*/

/*Hébergement*/

/*Populaires*/
#populaires {
  margin: 50px;
  max-width: 25vw;
  background-color: #f2f2f2;
  border-radius: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titrepop {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  margin-left: 20px;
}

.fas {
  margin-right: 20px;
}

.far {
  color: blue;
  padding-top: 15px;
}

.conteneurcartes {
  display: flex;
  flex-direction: column;
}

.popcard {
  display: flex;
  margin: 20px 40px 20px 40px;

  background-color: white;
  border-radius: 15px;
}

.popimg1 {
  width: 150px;
  height: 150px;
  /*background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");*/
  /*background-size: cover;
  background-position: center;*/
  border-radius: 15px;
  box-shadow: 5px 5px 30px #d9d9d9;
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}

.popimg2 {
  width: 150px;
  height: 150px;
  /*background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");*/
  /*background-size: cover;
  background-position: center;*/
  border-radius: 15px;
  box-shadow: 5px 5px 30px #d9d9d9;
}

.popimg3 {
  width: 150px;
  height: 150px;
  /*background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");*/
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  box-shadow: 5px 5px 30px #d9d9d9;
}

.infoimg {
  margin-left: 20px;
  padding-top: 20px;
}

/*Activités*/

#activites {
  margin: 50px;
}

#conteneuractivites {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 40px 40px;
  grid-auto-flow: row;
  grid-template-areas:
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m1"
    "tg1 g tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2"
    "tg1 p tg2 m2";

  height: 550px;
}

.tg1 {
  grid-area: tg1;
  /*background-image: url("images/activites/3_medium/activitesvieuxport.jpg");*/
  max-width: 1fr;
}

.tg2 {
  grid-area: tg2;
  /*background-image: url("images/activites/3_medium/activitescalanques.jpg");*/
}

.p {
  grid-area: p;
  min-height: 120px;
  /*background-image: url("images/activites/4_small/activitesfrioul.jpg");*/
}

.g {
  grid-area: g;
  /* background-image: url("images/activites/4_small/activitespomegues.jpg");*/
}

.m1 {
  grid-area: m1;
  /*background-image: url("images/activites/4_small/activitesnotredame.jpg");*/
}

.m2 {
  grid-area: m2;
  /*background-image: url("images/activites/4_small/activiteslongchamp.jpg");*/
}

.intitule {
  background-color: white;
  font-weight: bold;
  padding: 20px;
  z-index: 2;

  /*border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;*/
}

.card {
  display: flex;
  flex-direction: column-reverse;
  box-shadow: 5px 5px 30px #d9d9d9;
  /*background-size: cover;
  background-position: center;*/
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  right: 0;
}

/*Footer*/

footer {
}
.infos {
  width: 33%;
}

#conteneurfooter {
  display: flex;
  justify-content: stretch;
  background-color: #f2f2f2;
  padding: 20px 50px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  color: black;
}
